In [ ]:
import pandas as pd
import plotly.express as pe
import seaborn as sns

In [ ]:
#read file
salario = pd.read_csv("/content/drive/MyDrive/ds_salaries.csv")

In [ ]:
#mostra os 5 primeiros valores
salario.head()

In [ ]:
#mostra os 5 ultimos valores
salario.tail()

In [ ]:
#mostra o tamanho da base linhas x coluna
salario.shape

In [ ]:
#mostra o nome das colunas
salario.columns

In [ ]:
#Mostra informação dos tipos dos campos da tabela
display (salario.info())

In [ ]:
#soma sos valores vazios que tiverem na tabela
salario.isnull().sum()

In [ ]:
#mostra todos valores numericos em forma estatistica com 2 casa decimal
salario.describe().round(2)

In [ ]:
#dropa dados duplicados
salario.drop_duplicates(inplace=True)

In [ ]:
#excluindo dados que não faz sentido
salario.drop("Unnamed: 0",axis=1,inplace=True)

In [ ]:
display(salario)

In [ ]:
#mostra os dados de forma grafica e onde tem mais pessoas que recebem o valor 
sns.distplot(salario['salary_in_usd'])

In [ ]:
sns.boxplot(salario['salary_in_usd']) #mostra em um grafico de candle de uma forma mais precisa onde se encontra o outlier

In [ ]:
# define os outliers atraves do metodo do z-score
upper_limit = salario['salary_in_usd'].mean() + 3*salario['salary_in_usd'].std() #calcula a oscilação da curva da Distribuição Normal
lower_limit = salario['salary_in_usd'].mean() - 3*salario['salary_in_usd'].std()
print('upper limit:', upper_limit)
print('lower limit:', lower_limit)

In [ ]:
salario.loc[(salario['salary_in_usd'] > upper_limit) | (salario['salary_in_usd'] < lower_limit)] #verifica todos os valores para ver se entra na condição de ser um outliers

In [ ]:
# trimming - deleta todos os outliers encontrados na tabela e armazena em uma nova tabela
new_df = salario.loc[(salario['salary_in_usd'] <= upper_limit) & (salario['salary_in_usd'] >= lower_limit)]
print('before removing outliers:', len(salario))
print('after removing outliers:',len(new_df))
print('outliers:', len(salario)-len(new_df))

In [ ]:
sns.boxplot(new_df['salary_in_usd']) #mostra como ficou a tabela após deletar os outliers

In [ ]:
new_df[(salario['salary_in_usd'] <= upper_limit) & (salario['salary_in_usd'] >= lower_limit)] #mostra o menor,media e o maior salario pago
print("Minimum salary in USD: {}".format(new_df.salary_in_usd.min()))
print("Median  salary in USD: {}".format(new_df.salary_in_usd.median()))
print("Maximum salary in USD: {}".format(new_df.salary_in_usd.max()))
#sns.distplot(new_df["salary_in_usd"])

In [ ]:
subset=new_df[["experience_level",'salary_in_usd']] #cria uma nova tabela com a experiencia e o salario
#subset["experience_level"].unique() = test
#subset.experience_level.value_counts().plot(kind="bar") = test
fig = pe.pie(new_df, values='salary_in_usd', names='experience_level')
fig.show()